{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfpyVmJ6qOjP1OaqPOznzglI1H9Eele40qx9XsUtPgbp4WMtw/viewform?embedded=true" width="640" height="820" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>


      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
